<html>
<head>
<title>Total Bill</title>
<style>
body{
    background: cyan;
    text-align:center;
}
.box{
    background:green;
    color:white;
    width:300px;
    margin:100px auto;
    padding:20px;
}
h2{ color:red; }
</style>
</head>
<body>
<div class="box">
<h2>TOTAL BILL AMOUNT</h2>
<h3>Ashley Antony ( 25016569 )</h3>
<form method="POST">
{% csrf_token %}

Price:<br>
<input type="number" name="Price" step="any" required><br><br>

GST(%):<br>
<input type="number" name="GST" step="any" required><br><br>

<button type="submit">Calculate</button><br><br>

Total:<br>
<input type="text" value="{{ Total }}" readonly>

</form>

</div>
</body>
</html>